<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    ﻿﻿{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<a href ="https://okoffe.ru/" target="_blank"> <img src="{% static 'app/content/zzzzz.png' %}" class="logo" alt="Koffe"/></a>
<a href ="https://ilyabirman.ru/meanwhile/all/coffee-places/" target="_blank"> <img src="{% static 'app/content/zzz.png' %}" class="logo" alt="Koffe"/></a>
<a href ="https://coffeetrue.ru/blog/18-metodov-zavarivaniya-kofe" target="_blank"> <img src="{% static 'app/content/zzzz.png' %}" class="logo" alt="Koffe"/></a>
<   
<   
<   

{% endblock %}
</body>
</html>